on: push

jobs:
  ci-job:
    name: GitHub CI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        ref: ${{ github.ref }}
    - name: Run Cake
      run: ./build.sh --branchName=$GITHUB_REF --ciPlatform='github'
      shell: bash